* {
  padding: 0;
  margin: 0;
  font-style: normal;
}

body .boddy {
  width: 1440px;
  height: 2460px;
  background-color: #bfb8b8;
}

header h2 {
  color: #181717;
  font-family: DM Sans;
  font-size: 50px;
  font-weight: 500;
  font: 50px 500 DM Sans;
  line-height: 97.2%;
  letter-spacing: -1.5px;

}

header nav {
  color: #181717;
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.66px;
  list-style-type: none;
  display: flex;
  padding-right: 30px;
  width: 400px;
  justify-content: space-between;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 93px 0 0 160px;
}

nav p {
  padding-right: 30px;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 134px 0 0 160px;
}

.hello h1 {
  width: 360px;
  height: 135.452px;
  flex-shrink: 0;
  color: #181717;
  font-family: DM Sans;
  font-size: 60px;
  font-weight: 500;
  line-height: 97.2%;
  letter-spacing: -1.8px;
}

.hello p {
  width: 580px;
  height: 46px;
  flex-shrink: 0;
  color: #606060;
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: -0.96px;
}

.post h4 {
  flex-shrink: 0;
  color: #181717;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 121.5%;
  letter-spacing: -0.72px;
}

.post h5 {
  flex-shrink: 0;
  color: #181717;
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 121.5%;
  letter-spacing: -0.66px;
}

.post p {
  flex-shrink: 0;
  color: #606060;
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 121.5%;
  letter-spacing: -0.66px;
}

.post a {
  flex-shrink: 0;
  color: #181717;
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 121.5%;
  letter-spacing: -0.66px;
  text-decoration-line: underline;
}

.img {
  background-image: url(./testimg.png);
  height: 364px;
  width: 640px;
  background-repeat: no-repeat;
  background-size: contain;

}

.project {
  
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1120px;
  height: 473px;
  border-bottom: 2px solid #181717;;
}

